# Make sure to reference code somewhere #

In [8]:
import pandas as pd
import re
import dateutil.parser
import datetime
import matplotlib.pyplot as plt
Broadway_Original = pd.read_csv('/Users/morganhogenmiller/Desktop/GitHub/DA_401/Data sets/broadway(corgi) copy.csv') #Read in CORGI data set

In [9]:
#Names of shows used for Wikipedia and Google Headlines columns
show_list=['13', '9 To 5', "A Chorus Line '06", 'A Christmas Story', "A Gentleman'S Guide To Love And Murder", 'A Little Night Music', 'A Night With Janis Joplin', 'A Tale Of Two Cities', 'After Midnight', 'Aladdin', 'Allegiance', 'Amazing Grace', 'American Idiot', 'American Psycho', 'An American In Paris', "Annie '12", "Anything Goes '11", 'Avenue Q', "Baby It'S You!", 'Beautiful: The Carole King Musical', 'Big Fish', 'Billy Elliot: The Musical', 'Bloody Bloody Andrew Jackson', 'Bonnie And Clyde', 'Bright Star', 'Bring It On The Musical', 'Bullets Over Broadway', 'Burn The Floor', 'Bye Bye Birdie', 'Cabaret (musical)', 'Catch Me If You Can', 'Cats 2016', 'Chaplin', 'Chicago', 'Cinderella', 'Come Fly Away', 'Cry Baby', 'Curtains', 'Dames At Sea', 'Disaster!', 'Doctor Zhivago', "Dr. Seuss' How The Grinch Stole Christmas! 07", 'Elf', "Elf '12", 'Everyday Rapture', 'Evita', 'Fiddler On The Roof 2015', 'Finding Neverland', 'First Date', "Follies '11", 'Fun Home', 'Ghost', 'Gigi', 'Glory Days', 'Godspell', "Gypsy '08", 'Hair', 'Hairspray', 'Hamilton (musical)', 'Hands On A Hardbody', 'Hedwig And The Angry Inch', 'Holler If Ya Hear Me', 'Honeymoon In Vegas', "How To Succeed In Business Without Really Trying '11", 'If/Then', 'In The Heights', 'It Shoulda Been You', "Jekyll & Hyde '13", 'Jersey Boys', "Jesus Christ Superstar '12", 'Kinky Boots', "La Cage Aux Folles '10", 'Leap Of Faith', 'Legally Blonde', 'Lysistrata Jones', 'Mamma Mia!', 'Mary Poppins', 'Matilda', 'Memphis', 'Million Dollar Quartet', "Monty Python'S Spamalot", 'Motown The Musical 2016', 'Newsies', 'Next To Normal', 'Nice Work If You Can Get It', 'On A Clear Day You Can See Forever', 'On the Town (musical)', 'On The Twentieth Century', 'On Your Feet!', 'Once', 'Pal Joey', 'Paramour', 'Passing Strange', 'Pippin', "Porgy And Bess '11", 'Priscilla Queen Of The Desert', 'Promises, Promises', "Ragtime '09", 'Rain: A Tribute To The Beatles On Broadway', 'Rent', 'Rock Of Ages', 'Rocky', 'Scandalous', 'School Of Rock', 'She Loves Me 2016', 'Shrek The Musical', 'Shuffle Along', 'Side Show 2014', 'Sister Act', 'Something Rotten!', 'Soul Doctor', 'South Pacific', 'Spider-Man Turn Off The Dark', 'Spring Awakening', "Sunday In The Park With George '08", 'The 25Th Annual Putnam County Spelling Bee', 'The Addams Family', 'The Book Of Mormon', 'The Bridges Of Madison County', 'The Color Purple 2015', 'The King And I 2015', 'The Last Ship', 'The Lion King', 'The Little Mermaid', "The Mystery Of Edwin Drood '12", 'The People in the Picture', 'The Phantom Of The Opera', 'The Scottsboro Boys', 'The Story Of My Life', 'The Visit 2015', 'Tuck Everlasting', 'Waitress', 'West Side Story', 'Wicked', 'Women On The Verge Of A Nervous Breakdown', 'Wonderland', 'Xanadu']

In [10]:
show_list

['13',
 '9 To 5',
 "A Chorus Line '06",
 'A Christmas Story',
 "A Gentleman'S Guide To Love And Murder",
 'A Little Night Music',
 'A Night With Janis Joplin',
 'A Tale Of Two Cities',
 'After Midnight',
 'Aladdin',
 'Allegiance',
 'Amazing Grace',
 'American Idiot',
 'American Psycho',
 'An American In Paris',
 "Annie '12",
 "Anything Goes '11",
 'Avenue Q',
 "Baby It'S You!",
 'Beautiful: The Carole King Musical',
 'Big Fish',
 'Billy Elliot: The Musical',
 'Bloody Bloody Andrew Jackson',
 'Bonnie And Clyde',
 'Bright Star',
 'Bring It On The Musical',
 'Bullets Over Broadway',
 'Burn The Floor',
 'Bye Bye Birdie',
 'Cabaret (musical)',
 'Catch Me If You Can',
 'Cats 2016',
 'Chaplin',
 'Chicago',
 'Cinderella',
 'Come Fly Away',
 'Cry Baby',
 'Curtains',
 'Dames At Sea',
 'Disaster!',
 'Doctor Zhivago',
 "Dr. Seuss' How The Grinch Stole Christmas! 07",
 'Elf',
 "Elf '12",
 'Everyday Rapture',
 'Evita',
 'Fiddler On The Roof 2015',
 'Finding Neverland',
 'First Date',
 "Follies '11",
 'Fun Home',
 'Ghost',
 'Gigi',
 'Glory Days',
 'Godspell',
 "Gypsy '08",
 'Hair',
 'Hairspray',
 'Hamilton (musical)',
 'Hands On A Hardbody',
 'Hedwig And The Angry Inch',
 'Holler If Ya Hear Me',
 'Honeymoon In Vegas',
 "How To Succeed In Business Without Really Trying '11",
 'If/Then',
 'In The Heights',
 'It Shoulda Been You',
 "Jekyll & Hyde '13",
 'Jersey Boys',
 "Jesus Christ Superstar '12",
 'Kinky Boots',
 "La Cage Aux Folles '10",
 'Leap Of Faith',
 'Legally Blonde',
 'Lysistrata Jones',
 'Mamma Mia!',
 'Mary Poppins',
 'Matilda',
 'Memphis',
 'Million Dollar Quartet',
 "Monty Python'S Spamalot",
 'Motown The Musical 2016',
 'Newsies',
 'Next To Normal',
 'Nice Work If You Can Get It',
 'On A Clear Day You Can See Forever',
 'On the Town (musical)',
 'On The Twentieth Century',
 'On Your Feet!',
 'Once',
 'Pal Joey',
 'Paramour',
 'Passing Strange',
 'Pippin',
 "Porgy And Bess '11",
 'Priscilla Queen Of The Desert',
 'Promises, Promises',
 "Ragtime '09",
 'Rain: A Tribute To The Beatles On Broadway',
 'Rent',
 'Rock Of Ages',
 'Rocky',
 'Scandalous',
 'School Of Rock',
 'She Loves Me 2016',
 'Shrek The Musical',
 'Shuffle Along',
 'Side Show 2014',
 'Sister Act',
 'Something Rotten!',
 'Soul Doctor',
 'South Pacific',
 'Spider-Man Turn Off The Dark',
 'Spring Awakening',
 "Sunday In The Park With George '08",
 'The 25Th Annual Putnam County Spelling Bee',
 'The Addams Family',
 'The Book Of Mormon',
 'The Bridges Of Madison County',
 'The Color Purple 2015',
 'The King And I 2015',
 'The Last Ship',
 'The Lion King',
 'The Little Mermaid',
 "The Mystery Of Edwin Drood '12",
 'The People in the Picture',
 'The Phantom Of The Opera',
 'The Scottsboro Boys',
 'The Story Of My Life',
 'The Visit 2015',
 'Tuck Everlasting',
 'Waitress',
 'West Side Story',
 'Wicked',
 'Women On The Verge Of A Nervous Breakdown',
 'Wonderland',
 'Xanadu']

In [11]:
Google_Parameters= Broadway_Original[['Name','Year','Month','Day','Type']] #Reduce data set to variables to input into GT

#Filter to shows after 2007 only
Google_Parameters=Google_Parameters.loc[Google_Parameters['Year']>2007] 
Google_Parameters=Google_Parameters.loc[Google_Parameters['Type']=='Musical'] 
Google_Parameters=pd.DataFrame(Google_Parameters[Google_Parameters['Name'].isin(show_list)])

In [12]:
First_Dates=Google_Parameters.drop_duplicates(['Name'],keep='first') #Opening
First_Dates=First_Dates.sort_values('Name')
Last_Dates=Google_Parameters.drop_duplicates(['Name'],keep='last') #Closing (or last available data)
Last_Dates=Last_Dates.sort_values('Name')

In [13]:
#Breaks opening and closing into data, month, and year lists
yr_list=list(First_Dates['Year']) #Opening 
mth_list=list(First_Dates['Month'])
dt_list=list(First_Dates['Day'])

lastyr_list=list(Last_Dates['Year']) #Closing
lastmth_list=list(Last_Dates['Month'])
lastdt_list=list(Last_Dates['Day'])

#lastyr_list
showfirstlast=pd.DataFrame({'last month':lastmth_list,'last year':lastyr_list,'first year': yr_list,'first month':mth_list,'a':show_list})
showfirstlast
pd.DataFrame.to_csv(showfirstlast,'showfirstlast.csv')

In [14]:
!pip install pytrends #installing the pytrends package

#Make into a function so that it works with many shows and dates 
#Add the show as a column
#Ultimate goal is to get it into the OG data set

Requirement already satisfied: pytrends in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (4.4.0)
Requirement already satisfied: requests in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from pytrends) (2.18.4)
Requirement already satisfied: lxml in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from pytrends) (3.7.3)
Requirement already satisfied: pandas in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from pytrends) (0.20.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from requests->pytrends) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from requests->pytrends) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from requests->pytrends) (2018.4.16)
Requirement already satisfied: python-dateutil>=2 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from pandas->pytrends) (2.6.1)
Requirement already satisfied: pytz>=2011k in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from pandas->pytrends) (2017.2)
Requirement already satisfied: numpy>=1.7.0 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from pandas->pytrends) (1.14.3)
Requirement already satisfied: six>=1.5 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from python-dateutil>=2->pandas->pytrends) (1.11.0)

In [15]:
from pytrends.request import TrendReq #import necessary packages
pytrend = TrendReq(hl='en-US', tz=360) #define

In [19]:
#Third try...deleting the second for loop
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
grandlist=[]
firsts=[]
nosearch=[]
preseason=[]
postseason=[]
hi=pd.DataFrame()


def monthly_gsearches(show,yr,mth,dt,lastyr,lastmth,lastdt):
    #has to be input so that this can be done with many shows

    kw_list = [show] #can increase/decrease the list size 
    num_keywords = 1 

    year = yr
    month = mth
    date = dt
    last_year=lastyr
    last_month=lastmth
    last_date=lastdt
    old_date = datetime(year, month, date).date()
    new_date = datetime(last_year, last_month, last_date).date()

    timeframe = old_date.strftime('%Y-%m-%d')+' '+ new_date.strftime('%Y-%m-%d')
    #print(kw_list,"DATE:",timeframe)
    pytrend.build_payload(kw_list, cat=0, timeframe = timeframe, geo='US', gprop='')

    # Interest over time in one year
    data= pytrend.interest_over_time()
    df=pd.DataFrame(data)
    df=df.reset_index()
    
    #Breaking time stamp value into columns for each part of the date
    AH = [d for d in df.iloc[:,0]]
    new_date = [d.date() for d in AH]
    df['month']=[m.month for m in new_date]
    df['year']=[m.year for m in new_date]
    df['day']=[m.day for m in new_date]
    
    if df.empty:
        print('hey')
        nosearch.append(show)
        firsts.append(0)
        grandlist.append(0)
    
    else:
        df['show']=show
        mean=np.mean(df[df.columns[1]])
        print('Mean: ' +str(mean))
        print(df[df.columns[1]][0:7])
        search1=np.mean(df[df.columns[1]][0:7])
        print('First Week: ' +  str(search1))
        firsts.append(search1)
        grandlist.append(mean)
        

        #Isolating Pre & Post-Season Means
        
        #2008
        for index, row in df.iterrows():
            if row['show'] in ['A Catered Affair','Cry Baby','Grease',"Gypsy '08",'In The Heights','South Pacific','Sunday In The Park With George','The Little Mermaid','Xanadu'] and row['year']==2008 and row['month']==5:
                    preseason.append((show,np.mean(df[df.columns[1]])))
            if row['show'] in ['A Catered Affair','Cry Baby','Grease',"Gypsy '08",'In The Heights','South Pacific','Sunday In The Park With George','The Little Mermaid','Xanadu'] and row['year']==2008 and row['month']==7:
                    postseason.append((show,np.mean(df[df.columns[1]])))
        #2009
        for index, row in df.iterrows():
            if row['show'] in ['Billy Elliot: The Musical','Next to Normal','Hair','Shrek the Musical','Rock of Ages','West Side story','9 to 5','Pal Joey','Guys and Dolls'] and row['year']==2009 and row['month']==5:
                    preseason.append((show,np.mean(df[df.columns[1]])))
            if row['show'] in ['Billy Elliot: The Musical','Next to Normal','Hair','Shrek the Musical','Rock of Ages','West Side story','9 to 5','Pal Joey','Guys and Dolls'] and row['year']==2009 and row['month']==7:
                    postseason.append((show,np.mean(df[df.columns[1]])))
        #2010
        for index, row in df.iterrows():
            if row['show'] in ["La Cage Aux Folles '10",'Memphis',"Ragtime '09",'A Little Night Music','Promises,Promises','American Idiot','Million Dollar Quartet','The Addams Family','Come FLy Away','Everyday Rapture'] and row['year']==2010 and row['month']==5:
            
                    preseason.append((show,np.mean(df[df.columns[1]])))
            if row['show'] in ["La Cage Aux Folles '10",'Memphis',"Ragtime '09",'A Little Night Music','Promises,Promises','American Idiot','Million Dollar Quartet','The Addams Family','Come FLy Away','Everyday Rapture'] and row['year']==2010 and row['month']==7:
                    postseason.append((show,np.mean(df[df.columns[1]])))
        #2011
        for index, row in df.iterrows():
            if row['show'] in ['The Book Of Mormon','Catch Me If You Can','The Scottsboro Boys','Sister Act','Women On The Verge Of A Nervous Breakdown',"Anything Goes'11",'How To Succeed In Business Without Really Trying','Catch Me If You Can','Priscilla Queen Of The Desert',"Baby It's You!",'The People in the Picture','Bloody Bloody Andrew Jackson']and row['year']==2011 and row['month']==5:
                preseason.append((show,np.mean(df[df.columns[1]])))
            if row['show'] in ['The Book Of Mormon','Catch Me If You Can','The Scottsboro Boys','Sister Act','Women On The Verge Of A Nervous Breakdown',"Anything Goes '11",'How To Succeed In Business Without Really Trying','Catch Me If You Can','Priscilla Queen Of The Desert',"Baby It's You!",'The People in the Picture','Bloody Bloody Andrew Jackson']and row['year']==2011 and row['month']==7:
                postseason.append((show,np.mean(df[df.columns[1]])))
        #2012
        for index, row in df.iterrows():
            if row['show'] in ['Once','Leap Of Faith','Newsies','Nice Work If You Can Get It','Porgy and Bess','Evita','Follies','Jesus Christ Superstar','Bonnie And Clyde','Ghost','On A Clear Day You Can See Forever','Spider-Man Turn Off The Dark'] and row['year']==2012 and row['month']==5:
                preseason.append((show,np.mean(df[df.columns[1]])))
            if row['show'] in ['Once','Leap Of Faith','Newsies','Nice Work If You Can Get It','Porgy and Bess','Evita','Follies','Jesus Christ Superstar','Bonnie And Clyde','Ghost','On A Clear Day You Can See Forever','Spider-Man Turn Off The Dark'] and row['year']==2012 and row['month']==7:
                postseason.append((show,np.mean(df[df.columns[1]])))       
        #2013
        for index, row in df.iterrows():
            if row['show'] in ['Kinky Boots','Bring It On The Musical','A Christmas Story','Matilda','Pippin',"Annie '12","The Mystery of Edwin Drood'12",'Cinderella','Scandalous','Motown The Musical 2016','Hands on Hardbody'] and row['year']==2013 and row['month']==5:
                preseason.append((show,np.mean(df[df.columns[1]])))
            if row['show'] in ['Kinky Boots','Bring It On The Musical','A Christmas Story','Matilda','Pippin',"Annie '12","The Mystery of Edwin Drood'12",'Cinderella','Scandalous','Motown The Musical 2016','Hands on Hardbody'] and row['year']==2013 and row['month']==7:
                postseason.append((show,np.mean(df[df.columns[1]])))
        #2014
        for index, row in df.iterrows():
            if row['show'] in ['An American In Paris','Something Rotten!','The Visit 2015','The King and I 2015','On the Town','On the Twentieth Century','Fun Home','The Visit','Gigi','The Last Ship']and row['year']==2015 and row['month']==5:
                preseason.append((show,np.mean(df[df.columns[1]])))
            if row['show'] in ['An American In Paris','Something Rotten!','The Visit 2015','The King and I 2015','On the Town','On the Twentieth Century','Fun Home','The Visit','Gigi','The Last Ship']and row['year']==2015 and row['month']==7:
                postseason.append((show,np.mean(df[df.columns[1]])))
        #2015
        for index, row in df.iterrows():
            if row['show'] in ["After Midnight",'Aladdin','Beautiful: The Carol King Musical',"A Gentleman'S Guide to Love and Murder",'Hedwig And The Angry Inch','Violet','Bullets Over Broadway','If/Then','Rocky','The Bridges of Madison County','Cabaret (musical)']and row['year']==2014 and row['month']==5:    
                preseason.append((show,np.mean(df[df.columns[1]])))
            if row['show'] in ["After Midnight",'Aladdin','Beautiful: The Carol King Musical',"A Gentleman'S Guide to Love and Murder",'Hedwig And The Angry Inch','Violet','Bullets Over Broadway','If/Then','Rocky','The Bridges of Madison County','Cabaret (musical)']and row['year']==2014 and row['month']==7:    
                postseason.append((show,np.mean(df[df.columns[1]])))
       #2016
        for index, row in df.iterrows():
            if row['show'] in ['Hamilton (musical)','Bright Star','School of Rock','Shuffle Along','Waitress','The Color Purple','Fiddler on the Roof','She Loves Me','Spring Awakening','Disaster!','American Psycho','Tuck Everlsting']and row['year']==2016 and row['month']==5:
                preseason.append((show,np.mean(df[df.columns[1]])))
            if row['show'] in ['Hamilton (musical)','Bright Star','School of Rock','Shuffle Along','Waitress','The Color Purple','Fiddler on the Roof','She Loves Me','Spring Awakening','Disaster!','American Psycho','Tuck Everlsting']and row['year']==2016 and row['month']==7:
                postseason.append((show,np.mean(df[df.columns[1]])))
                             
        #Extra shows from before 
        for index, row in df.iterrows():
            if row['show'] in ['Wicked','Chicago','The Lion King','Jersey Boys',"Monty Python'S Spamalot","Avenue Q","Hairspray",'Rent']:
                preseason.append((show,0))
                postseason.append((show,0))

    print("\n\n")

In [20]:
#Test with one show
#monthly_gsearches('Hamilton',2016,5,7,2016,12,6) #list of all the shows and dates
for i,m in enumerate(show_list):
        monthly_gsearches(m,yr_list[i],mth_list[i],dt_list[i],lastyr_list[i],lastmth_list[i],lastdt_list[i])

Mean: 53.01086956521739
0    50
1    52
2    45
3    48
4    46
5    47
6    55
Name: 13, dtype: int64
First Week: 49.0



Mean: 26.283783783783782
0    31
1    15
2    18
3    26
4    15
5    24
6    41
Name: 9 To 5, dtype: int64
First Week: 24.285714285714285



hey



Mean: 7.162790697674419
0    3
1    2
2    3
3    2
4    5
5    4
6    4
Name: A Christmas Story, dtype: int64
First Week: 3.2857142857142856



Mean: 11.478632478632479
0     4
1    11
2    25
3    17
4    16
5     8
6    13
Name: A Gentleman'S Guide To Love And Murder, dtype: int64
First Week: 13.428571428571429



Mean: 37.728813559322035
0     47
1     84
2    100
3     67
4     57
5     51
6     51
Name: A Little Night Music, dtype: int64
First Week: 65.28571428571429



Mean: 15.432624113475176
0    17
1    22
2    14
3     7
4     7
5    23
6    27
Name: A Night With Janis Joplin, dtype: int64
First Week: 16.714285714285715



Mean: 44.07692307692308
0    73
1    24
2    48
3    54
4    25
5    42
6    15
Name: A Tale Of Two Cities, dtype: int64
First Week: 40.142857142857146



Mean: 22.90118577075099
0    20
1    15
2    18
3    15
4    20
5    25
6    34
Name: After Midnight, dtype: int64
First Week: 21.0



Mean: 23.131782945736433
0    22
1    24
2    24
3    25
4    23
5    24
6    27
Name: Aladdin, dtype: int64
First Week: 24.142857142857142



Mean: 51.48031496062992
0    67
1    51
2    69
3    55
4    51
5    32
6    45
Name: Allegiance, dtype: int64
First Week: 52.857142857142854



Mean: 14.616666666666667
0    100
1     51
2     31
3     20
4     18
5     24
6     27
Name: Amazing Grace, dtype: int64
First Week: 38.714285714285715



Mean: 33.98245614035088
0     45
1     44
2     52
3    100
4     67
5     53
6     39
Name: American Idiot, dtype: int64
First Week: 57.142857142857146



Mean: 47.140845070422536
0     69
1     56
2     52
3     77
4     50
5     42
6    100
Name: American Psycho, dtype: int64
First Week: 63.714285714285715



Mean: 31.373333333333335
0    45
1    29
2    31
3    27
4    63
5    40
6    57
Name: An American In Paris, dtype: int64
First Week: 41.714285714285715



Mean: 34.68181818181818
0     42
1     41
2     41
3     62
4    100
5     42
6     22
Name: Annie '12, dtype: int64
First Week: 50.0



hey



Mean: 59.235955056179776
0    85
1    95
2    74
3    90
4    73
5    83
6    76
Name: Avenue Q, dtype: int64
First Week: 82.28571428571429



hey



Mean: 15.307692307692308
0     7
1    18
2    21
3    10
4     7
5    13
6    25
Name: Beautiful: The Carole King Musical, dtype: int64
First Week: 14.428571428571429



Mean: 65.01769911504425
0    79
1    57
2    78
3    67
4    56
5    63
6    77
Name: Big Fish, dtype: int64
First Week: 68.14285714285714



Mean: 10.614035087719298
0     6
1     3
2    12
3    14
4     9
5    15
6    21
Name: Billy Elliot: The Musical, dtype: int64
First Week: 11.428571428571429



Mean: 48.85858585858586
0    42
1    43
2    47
3    43
4    35
5    37
6    43
Name: Bloody Bloody Andrew Jackson, dtype: int64
First Week: 41.42857142857143



Mean: 52.64912280701754
0    47
1    56
2    49
3    54
4    44
5    41
6    60
Name: Bonnie And Clyde, dtype: int64
First Week: 50.142857142857146



Mean: 8.591666666666667
0     7
1     6
2    14
3    10
4     8
5     7
6     6
Name: Bright Star, dtype: int64
First Week: 8.285714285714286



Mean: 13.431952662721894
0    23
1    11
2    28
3    25
4    18
5    19
6    32
Name: Bring It On The Musical, dtype: int64
First Week: 22.285714285714285



Mean: 15.679012345679013
0    27
1     9
2    18
3    14
4    16
5     9
6    17
Name: Bullets Over Broadway, dtype: int64
First Week: 15.714285714285714



Mean: 29.609467455621303
0    40
1    47
2    38
3    47
4    35
5    32
6    27
Name: Burn The Floor, dtype: int64
First Week: 38.0



Mean: 31.46268656716418
0    58
1    34
2    29
3    41
4    23
5    39
6    32
Name: Bye Bye Birdie, dtype: int64
First Week: 36.57142857142857



Mean: 42.425925925925924
0    53
1    76
2    85
3    62
4    79
5    75
6    41
Name: Cabaret (musical), dtype: int64
First Week: 67.28571428571429



Mean: 24.710227272727273
0    63
1    71
2    16
3    37
4    44
5    25
6    39
Name: Catch Me If You Can, dtype: int64
First Week: 42.142857142857146



Mean: 60.62068965517241
0     90
1     76
2     75
3     26
4     52
5     58
6    100
Name: Cats 2016, dtype: int64
First Week: 68.14285714285714



Mean: 41.67164179104478
0    40
1    37
2    41
3    42
4    48
5    37
6    41
Name: Chaplin, dtype: int64
First Week: 40.857142857142854



Mean: 85.29126213592232
0    89
1    85
2    90
3    88
4    96
5    93
6    91
Name: Chicago, dtype: int64
First Week: 90.28571428571429



Mean: 45.627450980392155
0    44
1    44
2    43
3    41
4    42
5    43
6    49
Name: Cinderella, dtype: int64
First Week: 43.714285714285715



Mean: 28.825136612021858
0    29
1    39
2    28
3    28
4    19
5    30
6    21
Name: Come Fly Away, dtype: int64
First Week: 27.714285714285715



Mean: 43.21212121212121
0    49
1    28
2    41
3    41
4    30
5    29
6    27
Name: Cry Baby, dtype: int64
First Week: 35.0



Mean: 58.26136363636363
0    77
1    53
2    59
3    63
4    49
5    50
6    88
Name: Curtains, dtype: int64
First Week: 62.714285714285715



Mean: 17.606060606060606
0    18
1    30
2    33
3    17
4    27
5    24
6    27
Name: Dames At Sea, dtype: int64
First Week: 25.142857142857142



hey



Mean: 34.76744186046512
0    25
1    28
2    14
3    33
4    53
5    31
6    42
Name: Doctor Zhivago, dtype: int64
First Week: 32.285714285714285



hey



Mean: 47.96491228070175
0    20
1    17
2    18
3    18
4    22
5    20
6    21
Name: Elf, dtype: int64
First Week: 19.428571428571427



Mean: 17.403508771929825
0     0
1     0
2     0
3     0
4    16
5     0
6     0
Name: Elf '12, dtype: int64
First Week: 2.2857142857142856



Mean: 23.346153846153847
0     36
1     12
2     12
3     18
4     25
5    100
6     19
Name: Everyday Rapture, dtype: int64
First Week: 31.714285714285715



Mean: 54.30434782608695
0    70
1    67
2    86
3    87
4    65
5    62
6    55
Name: Evita, dtype: int64
First Week: 70.28571428571429



Mean: 10.730337078651685
0    83
1    33
2    22
3    24
4    99
5    39
6    54
Name: Fiddler On The Roof 2015, dtype: int64
First Week: 50.57142857142857



Mean: 39.57333333333333
0    83
1    76
2    78
3    44
4    71
5    77
6    65
Name: Finding Neverland, dtype: int64
First Week: 70.57142857142857



Mean: 76.7215909090909
0    90
1    75
2    66
3    65
4    83
5    85
6    96
Name: First Date, dtype: int64
First Week: 80.0



hey



Mean: 16.91780821917808
0    15
1    16
2    13
3    16
4    22
5    16
6    17
Name: Fun Home, dtype: int64
First Week: 16.428571428571427



Mean: 59.774193548387096
0    65
1    46
2    48
3    45
4    53
5    50
6    65
Name: Ghost, dtype: int64
First Week: 53.142857142857146



Mean: 74.47826086956522
0    82
1    61
2    77
3    57
4    56
5    59
6    69
Name: Gigi, dtype: int64
First Week: 65.85714285714286



Mean: 46.666666666666664
0    45
1    25
2    28
3    47
4    26
5    23
6    40
Name: Glory Days, dtype: int64
First Week: 33.42857142857143



Mean: 26.59683794466403
0    27
1    21
2    21
3    18
4    17
5    23
6    32
Name: Godspell, dtype: int64
First Week: 22.714285714285715



hey



Mean: 93.56521739130434
0    91
1    91
2    90
3    90
4    89
5    88
6    90
Name: Hair, dtype: int64
First Week: 89.85714285714286



Mean: 46.64150943396226
0    95
1    79
2    83
3    72
4    57
5    58
6    60
Name: Hairspray, dtype: int64
First Week: 72.0



Mean: 19.912280701754387
0    4
1    4
2    6
3    5
4    3
5    4
6    3
Name: Hamilton (musical), dtype: int64
First Week: 4.142857142857143



Mean: 28.7
0    27
1     9
2    19
3    27
4    18
5    25
6    24
Name: Hands On A Hardbody, dtype: int64
First Week: 21.285714285714285



Mean: 12.493506493506494
0    17
1    12
2    17
3    30
4    22
5    17
6    16
Name: Hedwig And The Angry Inch, dtype: int64
First Week: 18.714285714285715



Mean: 23.11627906976744
0     0
1    57
2    45
3    19
4    13
5     7
6     8
Name: Holler If Ya Hear Me, dtype: int64
First Week: 21.285714285714285



Mean: 14.880597014925373
0      9
1      9
2     12
3     16
4    100
5     28
6     16
Name: Honeymoon In Vegas, dtype: int64
First Week: 27.142857142857142

hey



Mean: 31.0
0    60
1    54
2    48
3    83
4    56
5    46
6    39
Name: If/Then, dtype: int64
First Week: 55.142857142857146



Mean: 39.921052631578945
0    22
1    26
2    29
3    41
4    32
5    32
6    30
Name: In The Heights, dtype: int64
First Week: 30.285714285714285



Mean: 11.53191489361702
0     8
1     9
2    12
3    15
4    15
5     8
6    15
Name: It Shoulda Been You, dtype: int64
First Week: 11.714285714285714



hey



Mean: 16.49514563106796
0    19
1    20
2    21
3    21
4    21
5    21
6    18
Name: Jersey Boys, dtype: int64
First Week: 20.142857142857142



hey



Mean: 13.96132596685083
0    10
1    10
2    11
3    10
4    18
5    13
6    12
Name: Kinky Boots, dtype: int64
First Week: 12.0



hey



Mean: 38.861111111111114
0    37
1    12
2    29
3    37
4    27
5    39
6    26
Name: Leap Of Faith, dtype: int64
First Week: 29.571428571428573



Mean: 19.571428571428573
0    17
1    17
2    13
3    12
4    13
5     8
6     9
Name: Legally Blonde, dtype: int64
First Week: 12.714285714285714



Mean: 27.894736842105264
0    39
1    24
2    21
3    21
4    32
5    11
6    18
Name: Lysistrata Jones, dtype: int64
First Week: 23.714285714285715



hey



Mean: 42.49629629629629
0    38
1    33
2    34
3    32
4    26
5    36
6    39
Name: Mary Poppins, dtype: int64
First Week: 34.0



Mean: 59.72222222222222
0    55
1    60
2    55
3    57
4    67
5    54
6    54
Name: Matilda, dtype: int64
First Week: 57.42857142857143



Mean: 56.48
0    46
1    47
2    50
3    50
4    47
5    47
6    50
Name: Memphis, dtype: int64
First Week: 48.142857142857146



Mean: 30.12121212121212
0    17
1    31
2    34
3    38
4    49
5    35
6    27
Name: Million Dollar Quartet, dtype: int64
First Week: 33.0



Mean: 24.444444444444443
0     51
1    100
2     51
3     49
4      0
5     50
6      0
Name: Monty Python'S Spamalot, dtype: int64
First Week: 43.0



hey



Mean: 33.53125
0    44
1    58
2    46
3    48
4    40
5    51
6    59
Name: Newsies, dtype: int64
First Week: 49.42857142857143



Mean: 17.263157894736842
0    10
1    16
2    24
3    18
4    12
5    19
6    15
Name: Next To Normal, dtype: int64
First Week: 16.285714285714285



Mean: 31.578125
0    34
1    35
2    42
3    71
4    74
5    53
6    36
Name: Nice Work If You Can Get It, dtype: int64
First Week: 49.285714285714285



Mean: 32.6025641025641
0    29
1    68
2    34
3    89
4    46
5    48
6    58
Name: On A Clear Day You Can See Forever, dtype: int64
First Week: 53.142857142857146



Mean: 12.174193548387096
0    18
1    15
2    14
3     0
4    14
5    15
6     0
Name: On the Town (musical), dtype: int64
First Week: 10.857142857142858



Mean: 45.355555555555554
0    100
1     29
2     39
3     68
4     19
5     29
6     63
Name: On The Twentieth Century, dtype: int64
First Week: 49.57142857142857



hey



Mean: 55.93288590604027
0    56
1    58
2    55
3    59
4    62
5    54
6    53
Name: Once, dtype: int64
First Week: 56.714285714285715



Mean: 29.160377358490567
0    25
1    33
2    27
3    67
4    28
5    17
6     0
Name: Pal Joey, dtype: int64
First Week: 28.142857142857142



Mean: 48.36666666666667
0    57
1    64
2    69
3    40
4    59
5    60
6    35
Name: Paramour, dtype: int64
First Week: 54.857142857142854



Mean: 13.425925925925926
0     0
1     4
2    20
3     8
4     9
5    14
6     6
Name: Passing Strange, dtype: int64
First Week: 8.714285714285714



Mean: 19.180851063829788
0    18
1    17
2    18
3    17
4    29
5    23
6    20
Name: Pippin, dtype: int64
First Week: 20.285714285714285



hey



Mean: 35.11594202898551
0     43
1     96
2    100
3     70
4     46
5     43
6     38
Name: Priscilla Queen Of The Desert, dtype: int64
First Week: 62.285714285714285



Mean: 29.975609756097562
0     34
1     48
2     68
3     44
4    100
5     49
6     24
Name: Promises, Promises, dtype: int64
First Week: 52.42857142857143



hey



hey



Mean: 82.70731707317073
0    85
1    84
2    81
3    77
4    76
5    75
6    80
Name: Rent, dtype: int64
First Week: 79.71428571428571



Mean: 10.6
0     7
1     7
2    11
3     6
4     6
5     5
6     5
Name: Rock Of Ages, dtype: int64
First Week: 6.714285714285714



Mean: 61.19125683060109
0    61
1    54
2    57
3    55
4    55
5    58
6    64
Name: Rocky, dtype: int64
First Week: 57.714285714285715



Mean: 27.035087719298247
0    29
1    46
2    27
3    24
4    19
5    33
6    22
Name: Scandalous, dtype: int64
First Week: 28.571428571428573



Mean: 57.75
0    68
1    70
2    45
3    64
4    53
5    40
6    42
Name: School Of Rock, dtype: int64
First Week: 54.57142857142857



Mean: 5.886524822695035
0    0
1    0
2    0
3    0
4    0
5    5
6    0
Name: She Loves Me 2016, dtype: int64
First Week: 0.7142857142857143



Mean: 35.24590163934426
0     43
1     36
2     51
3     53
4     56
5    100
6     79
Name: Shrek The Musical, dtype: int64
First Week: 59.714285714285715



Mean: 5.141732283464567
0    3
1    3
2    2
3    3
4    5
5    5
6    5
Name: Shuffle Along, dtype: int64
First Week: 3.7142857142857144



hey



Mean: 59.52
0     98
1     69
2     69
3    100
4     78
5     90
6     55
Name: Sister Act, dtype: int64
First Week: 79.85714285714286



hey



Mean: 37.23529411764706
0    52
1    18
2    27
3    41
4    47
5    53
6    40
Name: Soul Doctor, dtype: int64
First Week: 39.714285714285715



Mean: 37.746153846153845
0    35
1    36
2    42
3    37
4    64
5    58
6    43
Name: South Pacific, dtype: int64
First Week: 45.0



Mean: 11.52760736196319
0    86
1    22
2    50
3    97
4    26
5    42
6    55
Name: Spider-Man Turn Off The Dark, dtype: int64
First Week: 54.0



Mean: 39.239583333333336
0    59
1    63
2    56
3    57
4    61
5    54
6    58
Name: Spring Awakening, dtype: int64
First Week: 58.285714285714285



hey



Mean: 19.933333333333334
0      0
1      0
2      0
3      0
4    100
5      0
6      0
Name: The 25Th Annual Putnam County Spelling Bee, dtype: int64
First Week: 14.285714285714286



Mean: 22.736842105263158
0    21
1    15
2    25
3    29
4    26
5    10
6    17
Name: The Addams Family, dtype: int64
First Week: 20.428571428571427



Mean: 30.348484848484848
0     51
1     35
2     56
3    100
4     40
5     34
6     40
Name: The Book Of Mormon, dtype: int64
First Week: 50.857142857142854



Mean: 26.275
0    32
1    18
2    26
3    30
4     9
5    35
6    21
Name: The Bridges Of Madison County, dtype: int64
First Week: 24.428571428571427



hey



Mean: 13.0
0    15
1    20
2    13
3    16
4    15
5    20
6    28
Name: The King And I 2015, dtype: int64
First Week: 18.142857142857142



Mean: 18.56637168141593
0    23
1    16
2    15
3    15
4    16
5     7
6    14
Name: The Last Ship, dtype: int64
First Week: 15.142857142857142



Mean: 30.533980582524272
0    25
1    26
2    22
3    25
4    23
5    22
6    20
Name: The Lion King, dtype: int64
First Week: 23.285714285714285



Mean: 57.71264367816092
0    80
1    91
2    77
3    90
4    71
5    71
6    76
Name: The Little Mermaid, dtype: int64
First Week: 79.42857142857143



hey



Mean: 49.34615384615385
0    67
1    28
2    61
3    68
4    40
5    47
6    53
Name: The People in the Picture, dtype: int64
First Week: 52.0



Mean: 63.96116504854369
0     66
1     74
2    100
3     83
4     74
5     80
6     79
Name: The Phantom Of The Opera, dtype: int64
First Week: 79.42857142857143



Mean: 39.046875
0    31
1    46
2    81
3    45
4    33
5    47
6    31
Name: The Scottsboro Boys, dtype: int64
First Week: 44.857142857142854



Mean: 50.0
0    47
1    31
2    38
3    16
4    56
5    51
6    84
Name: The Story Of My Life, dtype: int64
First Week: 46.142857142857146



Mean: 32.02564102564103
0    17
1    16
2    25
3    16
4    23
5    14
6    29
Name: The Visit 2015, dtype: int64
First Week: 20.0



Mean: 46.10526315789474
0    32
1    39
2    44
3    48
4    48
5    33
6    37
Name: Tuck Everlasting, dtype: int64
First Week: 40.142857142857146



Mean: 22.71631205673759
0    16
1    25
2    26
3    22
4    21
5    29
6    25
Name: Waitress, dtype: int64
First Week: 23.428571428571427



Mean: 40.29896907216495
0     54
1     76
2    100
3     81
4     64
5     51
6     63
Name: West Side Story, dtype: int64
First Week: 69.85714285714286

Mean: 75.77669902912622
0    94
1    85
2    85
3    90
4    91
5    91
6    83
Name: Wicked, dtype: int64
First Week: 88.42857142857143



Mean: 29.776470588235295
0    37
1    37
2    54
3    31
4    36
5    27
6    58
Name: Women On The Verge Of A Nervous Breakdown, dtype: int64
First Week: 40.0



Mean: 57.16
0    70
1    53
2    46
3    48
4    50
5    54
6    63
Name: Wonderland, dtype: int64
First Week: 54.857142857142854



Mean: 23.760299625468164
0    24
1     7
2    35
3    29
4    21
5    25
6    28
Name: Xanadu, dtype: int64
First Week: 24.142857142857142

Creating a binary variable for whether or not shows run during the Tony time period

In [21]:
#Isolating unique values of pre and post season
preseason
preshows=[]
postshows=[]
preseason=list(set(preseason))
postseason=list(set(postseason))
for i in preseason and postseason:
    preshows.append(i[0])

#for i in postseason:
    #postshows.append(i[0])



preshows

#Make column with Binary if in preseason list and add to google avg

['Ghost',
 'Nice Work If You Can Get It',
 'Rent',
 'Hamilton (musical)',
 'Billy Elliot: The Musical',
 'Evita',
 'Cabaret (musical)',
 'Bullets Over Broadway',
 'Million Dollar Quartet',
 'Hedwig And The Angry Inch',
 'Aladdin',
 'An American In Paris',
 'Xanadu',
 "Monty Python'S Spamalot",
 'The Little Mermaid',
 'South Pacific',
 'Kinky Boots',
 'A Little Night Music',
 'If/Then',
 'Spider-Man Turn Off The Dark',
 'Newsies',
 'Priscilla Queen Of The Desert',
 'Shuffle Along',
 'In The Heights',
 'Avenue Q',
 'Hairspray',
 'Memphis',
 'Jersey Boys',
 'The Addams Family',
 'Chicago',
 'American Idiot',
 'Catch Me If You Can',
 'Waitress',
 'Rocky',
 "Annie '12",
 'Once',
 'The Book Of Mormon',
 'The Lion King',
 'Everyday Rapture',
 'Fun Home',
 'Wicked',
 'Pippin',
 'Sister Act',
 'Cinderella',
 'Hair',
 'Matilda']

In [22]:
GTstats=pd.DataFrame({'First Week':firsts, 'Grand Mean':grandlist, 'Name': show_list})

dflist=[]
for i in show_list:
    if i in preshows:
        dflist.append({'Name':i,'Tony Season':1})
    else:
        dflist.append({'Name':i,'Tony Season':0})

tseason=pd.DataFrame(dflist)

GTstats=GTstats.join(tseason.set_index("Name"),on='Name')

In [23]:
GTstats

,First Week,Grand Mean,Name,Tony Season
0,49.000000,53.010870,13,0
1,24.285714,26.283784,9 To 5,0
2,0.000000,0.000000,A Chorus Line '06,0
3,3.285714,7.162791,A Christmas Story,0
4,13.428571,11.478632,A Gentleman'S Guide To Love And Murder,0
5,65.285714,37.728814,A Little Night Music,1
6,16.714286,15.432624,A Night With Janis Joplin,0
7,40.142857,44.076923,A Tale Of Two Cities,0
8,21.000000,22.901186,After Midnight,0
9,24.142857,23.131783,Aladdin,1
10,52.857143,51.480315,Allegiance,0
11,38.714286,14.616667,Amazing Grace,0
12,57.142857,33.982456,American Idiot,1
13,63.714286,47.140845,American Psycho,0
14,41.714286,31.373333,An American In Paris,1
15,50.000000,34.681818,Annie '12,1
16,0.000000,0.000000,Anything Goes '11,0
17,82.285714,59.235955,Avenue Q,1
18,0.000000,0.000000,Baby It'S You!,0
19,14.428571,15.307692,Beautiful: The Carole King Musical,0
20,68.142857,65.017699,Big Fish,0
21,11.428571,10.614035,Billy Elliot: The Musical,1
22,41.428571,48.858586,Bloody Bloody Andrew Jackson,0
23,50.142857,52.649123,Bonnie And Clyde,0
24,8.285714,8.591667,Bright Star,0
25,22.285714,13.431953,Bring It On The Musical,0
26,15.714286,15.679012,Bullets Over Broadway,1
27,38.000000,29.609467,Burn The Floor,0
28,36.571429,31.462687,Bye Bye Birdie,0
29,67.285714,42.425926,Cabaret (musical),1
...,...,...,...,...
107,0.000000,0.000000,Side Show 2014,0
108,79.857143,59.520000,Sister Act,1
109,0.000000,0.000000,Something Rotten!,0
110,39.714286,37.235294,Soul Doctor,0
111,45.000000,37.746154,South Pacific,1
112,54.000000,11.527607,Spider-Man Turn Off The Dark,1
113,58.285714,39.239583,Spring Awakening,0
114,0.000000,0.000000,Sunday In The Park With George '08,0
115,14.285714,19.933333,The 25Th Annual Putnam County Spelling Bee,0
116,20.428571,22.736842,The Addams Family,1
117,50.857143,30.348485,The Book Of Mormon,1
118,24.428571,26.275000,The Bridges Of Madison County,0
119,0.000000,0.000000,The Color Purple 2015,0
120,18.142857,13.000000,The King And I 2015,0
121,15.142857,18.566372,The Last Ship,0
122,23.285714,30.533981,The Lion King,1
123,79.428571,57.712644,The Little Mermaid,1
124,0.000000,0.000000,The Mystery Of Edwin Drood '12,0
125,52.000000,49.346154,The People in the Picture,0
126,79.428571,63.961165,The Phantom Of The Opera,0
127,44.857143,39.046875,The Scottsboro Boys,0
128,46.142857,50.000000,The Story Of My Life,0
129,20.000000,32.025641,The Visit 2015,0
130,40.142857,46.105263,Tuck Everlasting,0
131,23.428571,22.716312,Waitress,1
132,69.857143,40.298969,West Side Story,0
133,88.428571,75.776699,Wicked,1
134,40.000000,29.776471,Women On The Verge Of A Nervous Breakdown,0
135,54.857143,57.160000,Wonderland,0
136,24.142857,23.760300,Xanadu,1

In [24]:
pd.DataFrame.to_csv(GTstats,'GT.csv')

In [569]:
#Making an excel file for the censored 
#show_list=pd.DataFrame(show_list)
#pd.DataFrame.to_csv(show_list,'Censored.csv')